# Local .terraform directories
**/.terraform/*
!.terraform/*.tfstate.backup

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Ignore override files as they are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# IDE/editor specific
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
.terraform/
